#!/bin/bash

export NEMU_HOME=$PWD/nemu
export AM_HOME=$PWD/abstract-machine
export NPC_HOME=$PWD/npc
export NVBOARD_HOME=$PWD/nvboard
export YSYX_HOME=$PWD
export YSYXSOC_HOME=$PWD/ysyxSoC
export PATH=/usr/lib/ccache:$PATH
export CCACHE_DISABLE=1
